<h1>Draag een steentje bij!</h1>
<H2>Platform voor mensen die een steentje bij willen dragen een een mooie samenleving</H2>

<p><%= link_to "Projecten", projects_path %></p>
<p><%= link_to "Mensen", contributors_path %></p>

