/* common styles */
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.field {

}

.header-section {
	height: 50px;
    background-color: #11122b;
    color: #white;
    /* Flexbox container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.project-title {
	text-align: center;
	font-size: 3em;
}

.table-head {
	background-color: #808000;
}

.table-body {
	background-color: #808080;	
}

.actions {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.project-image img {
	width:  100px;
	height: 100%;
	
}